<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- <import resource="classpath:persistenceContext.xml" /> -->
	<bean id="todoService" class="com.spring.mvc.test.service.TodoService" >
		<constructor-arg name="todoRepository" ref="todoRepository"/>
	</bean>

	<!-- Internationalization -->

	<!-- <bean id="localeResolver" class="org.springframework.web.servlet.i18n.SessionLocaleResolver"> 
		<property name="defaultLocale" value="en" /> </bean> -->

	


	<bean id="messageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basename" value="i18n/welcome" />
		<property name="defaultEncoding" value="UTF-8"></property>
		<property name="useCodeAsDefaultMessage" value="true"></property>
	</bean>
</beans>
